<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu/starters">Starters</a></li>
        <li><a href="/menu/mains">Mains</a></li>
        <li><a href="/menu/drinks">Drinks</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
