<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= restaurant.name %></title>
    <h1>Welcome to <%=  restaurant.name %>!</h1>
    <p>Your one-stop destination for healthy, delicious meals!</p>
  </head>
  <body>
    <%- include('partials/nav') %>

  </body>
</html>
