<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= restaurant.name %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to <%= restaurant.name %>!</h1>
  </body>
</html>
